[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
gcloud = "*"
python-language-server = {extras = ["all"],version = "*"}

[packages]
apache-beam = {extras = ["gcp"],version = "*"}
tensorflow = "*"
scipy = "*"
sklearn = "*"

[requires]
python_version = "2.7.14"

[pipenv]
allow_prereleases = true
