[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
gcloud = "*"

[packages]
apache-beam = {extras = ["gcp"],version = "*"}
dicom2nifti = "*"
pydicom = {editable = true,git = "https://github.com/KendallPark/pydicom.git"}
tensorflow = "*"

[requires]
python_version = "2.7.14"

[pipenv]
allow_prereleases = true
